#google-map {
  height: 100vh;


}

#sidebar {
  position: absolute;
  z-index: 100;
  background: #ffffff;
  width: 250px;
  max-width: 100%;
  height: 100vh;
  overflow-y: scroll;
  top: 0;
}

.text-input {
  width: 70%;
  margin-left: 35px;
  border: 1px solid grey;
}

#search-heading {
  text-align: center;
}

.venue-list {
  margin: 10px;
  padding: 10px;
  z-index: 100;
  border: 1px solid black;
  background-color: #f4a142;
}






/*
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
